* {
  box-sizing: border-box;
}
@font-face {
  font-family: bungeeRegular;
  src: url(/fonts/Bungee-Regular.ttf);
}

@font-face {
  font-family: michromaRegular;
  src: url(/fonts/Michroma-Regular.ttf);
}

@media screen and (max-width: 768px) {
  
  section{
    padding-right: 0%;
    padding-left: 0%;
  }

  li{
    width: 100%;
  }

  h1{
    font-size: 2em;
  }
  h2{
    font-size: 20px;
  }
  strong{
    font-size: 10px;
  }

}

body{
  background-color: rgb(34, 37, 48);
  color: rgb(0, 255, 242);
}

img{
  max-width: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 5%;
  border-color: rgba(0, 242, 255, 0.739);
}

section{
  display: flex;
  justify-content: left;
  padding-right: 25%;
  padding-left: 25%;
}

.headerbar{
  display: block;
}
.shardsHeader{
  display: flex;
  justify-content: left;
}
.navbar{
  font-family: michromaRegular;
  font-size: 12px;
  padding-bottom: 3em;
}

li > a{
  color: rgb(192, 255, 251);
}

li{
  display: block;
  align-items: left;
  float: left;
  padding: 5px;
}

h1, h2, h3, h4, h5, h6{
    font-family: bungeeRegular;
    margin-bottom: 3px;
}

h1{
  font-size: 3em;
  padding-top: 0px;
  margin-top: 3px;
}
h2{
  font-size: 30px;
}

p, small{
  font-family: michromaRegular;
  line-height: 25px;
  letter-spacing: 1px;
}

strong{
  font-size: 20px;
}

hr{
  color: aqua;
  width: 60%;
}

.socialmedialogos{
  display: flex;
  justify-content: left;
}

.smlogo{
  width: 50px;
  border: none;
  margin: none;

}

.devloglinks{
  color: rgb(201, 255, 255);
  text-decoration: none;
  padding-bottom: 1em;
}

a{
  color: rgb(255, 187, 249);
  padding: 5px;
  display: block;
}